.layout-panel {
  z-index: 1030;
  overflow: hidden;
}

.position-fixed {
  position: fixed !important;
}

.w-100 {
  width: 100% !important;
}

.min-h-100 {
  min-height: 100% !important;
}

* {
  box-sizing: border-box;
}